@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Use the external fonts */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--foreground);
  background: var(--background);
}

code {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
